/* app css stylesheet */

body {
    font-family: 'Cabin', sans-serif;
}

button {
    width: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table.sc-table,
table.sc-table button {
    font-size: 16px;
}

table.sc-table {
    table-layout: fixed;
}

table.sc-table tbody tr td,
table.sc-table tbody tr th {
    vertical-align: middle;
}

table.sc-table input,
table.sc-table span.glyphicon-check,
table.sc-table span.glyphicon-unchecked {
    width: 100%;
}
